<!-- category_news.html -->

{% extends 'base.html' %}

{% block title %}
{{ selected_category.name }}
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="d-flex justify-content-between align-items-center mb-5">

        <h1 class="fw-bold">

            {{ selected_category.name }}

        </h1>

        <button id="loadMoreBtn"
                class="btn btn-danger rounded-pill px-4 py-2">

            Load More News

        </button>

    </div>

    <div class="row" id="newsContainer">

        {% for news in page_obj %}

        <div class="col-lg-3 col-md-6 mb-4">
            <a href="{% url 'news_detail' news.id %}"
               class="text-dark">
                <div class="news-card">

                    <img src="{{ news.featured_image.url }}">

                    <div class="p-3">

                        <h5 class="fw-bold">

                            {{ news.title|truncatechars:60 }}

                        </h5>

                        <p class="text-muted">

                            {{ news.text|truncatechars:100 }}

                        </p>

                    </div>

                </div>
            </a>

        </div>

        {% endfor %}

    </div>

</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script>

    let page = 2;

    $("#loadMoreBtn").click(function(){

        $.ajax({

            url: "/load-more/{{ selected_category.id }}/?page=" + page,

            method: "GET",

            success: function(response){

                let html = "";

                response.data.forEach(function(news){

                    html += `

                    <div class="col-lg-3 col-md-6 mb-4">

                        <div class="news-card">

                            <img src="${news.image}">

                            <div class="p-3">

                                <h5 class="fw-bold">

                                    ${news.title}

                                </h5>

                                <p class="text-muted">

                                    ${news.text}

                                </p>

                            </div>

                        </div>

                    </div>

                    `;

                });

                $("#newsContainer").append(html);

                page++;

                if(!response.has_next){

                    $("#loadMoreBtn").hide();

                }

            }

        });

    });

</script>

{% endblock %}